body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  
}
.container{
  max-width:1250px;
  margin: 0 auto;
  align-items: center;
}



h2 {
  margin-top: 0;
  color: white;
}
p{
  color: white;
}
h3{
  color: white;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
#cart {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
float: right;
}
#cart ul {
  list-style-type: none;
  padding: 0;
}
#cart li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
#cartTotal {
  font-weight: bold;
  margin-top: 10px;
}
footer{
  margin-top: 80px;
  align-items: end;
  align-self: self-end;
  align-content: end;
}